h3{
    color: rgb(222, 24, 123);
    text-align: center;
}
p{
    color: rgb(16, 108, 221);
    text-align: center;
}
button{
    color: rgba(54, 3, 54, 0.918);
    background-color: rgb(229, 229, 121);
    text-align: center;
}
div{
    text-align: center;
}
h1{
    color: rgb(49, 91, 8);
    font-size: larger;
    box-sizing: content-box;
}